{% extends 'employee/base.html' %}
{% block content %}
<br>
<h1 align="center">Добавить сотрудника</h1>
<div class="container" style="width: 75%">
  <form action="{% url 'addform' %}" method="post">
    {% csrf_token %}
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input required type="text" id="first_name" class="form-control" name="first_name" placeholder="Имя">
          <label class="form-label" for="first_name"></label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input required type="text" id="last_name" class="form-control" name="last_name" placeholder="Фамилия">
          <label class="form-label" for="last_name"></label>
        </div>
      </div>
    </div>
    <div class="form-outline mb-4">
      <input required type="text" id="job_title" class="form-control" name="job_title" placeholder="Должность">
      <label class="form-label" for="job_title"></label>
    </div>

    <div class="form-outline mb-4">
      <input required type="text" id="address" class="form-control" name="address" placeholder="Адрес">
      <label class="form-label" for="address"></label>
    </div>

    <div class="form-outline mb-4">
      <input required type="text" id="phone" class="form-control" name="phone" placeholder="Телефон">
      <label class="form-label" for="phone"></label>
    </div>

    <div class="form-outline mb-4">
      <input required type="email" id="email" class="form-control" name="email" placeholder="Email">
      <label class="form-label" for="email"></label>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Добавить</button>
  </form>
</div>
{% endblock %}