{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'employee/images/favicon.ico' %}">
    <link href="{% static 'employee/css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body style="background: #c7b39b url({% static 'employee/images/background.gif' %}">

{% block mainmenu %}
<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Текникал Корп.</a>
        <img src="{% static 'employee/images/laptop.svg' %}" width="32px" alt="icon">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% for item in menu %}
                    {% if request.resolver_match.url_name == item.url_name %}
                    <a class="nav-link active" aria-current="page" href="{% url item.url_name %}">{{ item.title }}</a>
                    {% else %}
                    <a class="nav-link" aria-current="page" href="{% url item.url_name %}">{{ item.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="поиск по имени" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}

{% endblock %}
<div style="margin-top: 100px;">
    <footer class="footer">
        <div style="text-align:center;">
            <span class="text-muted">2023 год. Учебный проект. В разработке</span>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>