{% extends 'employee/base.html' %}
{% load static %}
{% block content %}
<br>
<h1 align="center">Сотрудник месяца</h1>
<div class="container" style="width: 75%">
    <div class="card text-bg-light mb-3">
        <div class="row g-0">
            <div class="col-md-4" align="center">
                <img src="{% static 'employee/images/champion.png' %}" class="img-fluid rounded-start" alt="champ">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3>{{ employee.first }}</h3>
                    <p>Должность: {{employee.first.job_title}}
                    <p>Адрес: {{employee.first.address}}
                    <p>Email: {{employee.first.email}}
                    <p>Телефон: +{{employee.first.phone}}
                    <p>KPI: {{employee.first.kpi}}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}