{% extends 'employee/base.html' %}
{% block content %}
<br>
<h1 align="center">Сотрудники</h1>
<div class="container" style="width: 75%;">
  <table class="table table-hover table-bordered table-light">
    <thead>
    <tr class="table table-striped" style="background-color:#e3f2fd;">
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Должность</th>
      <th scope="col">Телефон</th>
    </tr>
    </thead>
    <tbody>
    {% for i in employee %}
    <tr style='cursor: pointer; cursor: hand;' onclick="window.location='{{ i.get_absolute_url }}'">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.job_title}}</td>
      <td>+{{i.phone}}</td>
      {% endfor %}
    </tr>

    </tbody>
  </table>
</div>

{% endblock %}

