{% extends 'employee/base.html' %}
{% block content %}
<div class="container" style="width: 75%;">
    <br>
    <br>
    <br>
    <div class="card text-bg-light mb-3">
        <div class="card-header" style="background-color:#e3f2fd;">
            Мудрость
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Самый хороший учитель в жизни - опыт. Берёт, правда, дорого, но объясняет доходчиво.</p>
                <footer class="blockquote-footer">Джейсон Стетхем</footer>
            </blockquote>
        </div>
    </div>
</div>



{% endblock %}
