{% extends 'employee/base.html' %}
{% load static %}
{% block content %}
<br>
<h1 align="center">Карточка сотрудника</h1>
<div class="container" align="center">
    <div class="card text-bg-light mb-3" style="width: 75%;">

        {% for i in employee %}
        <div class="card-body" align="left" >
            <h3 class="card-title" align="center">{{i.first_name}} {{i.last_name}}</h3>
            <p class="card-text">
            <p>Должность: {{i.job_title}}
            <p>Адрес: {{i.address}}
            <p>Email: {{i.email}}
            <p>Телефон: +{{i.phone}}
            <p>KPI: {{i.kpi}}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}